name: Maven CI/CD

on:
  push:
    branches: [develop, master]
  pull_request:
    branches : [develop, master]
    
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Checkout submodules
      uses: textbook/git-checkout-submodule-action@master
      with:
        remote: true
    - name : Set up JDK 14
      uses: actions/setup-java@v1
      with:
        java-version: 14
    - name: Build project with Maven
      run: mvn package
